.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.buttonFlex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    padding: 10px 0 10px 15px;
}